// Copy this file, rename it to Local.xcconfig, and insert your Apple Developer Team ID.
// You can find this in Xcode > Settings > Accounts or on your developer.apple.com account page.
DEVELOPMENT_TEAM = 
